.services-heading h1 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 35px;
  color: #004fa8;
  font-weight: 600;
}

.services-heading h1 span {
  display: block;
  font-size: 45px;
  color: #0076b3;
  margin-top: 5px;
  font-weight: 900;
}

.services-list-wrapper {
  margin-top: 50px;
}

ul.tile-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

ul.tile-list li.tile-list__item {
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 275px;
  margin-left: -1px;
  margin-top: -1px;
  border: solid 1px #acb8ce;
  transition: 0.2s;
}

ul.tile-list li.tile-list__item:hover {
  background-color: #fff;
  box-shadow: 0 15px 40px 0 rgba(160, 168, 202, 0.36);
  border-color: #fff;
  z-index: 1;
}

ul.tile-list li.tile-list__item button {
  text-decoration: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
  align-content: space-between;
  height: 100%;
  color: #41395f;
  font-weight: 300;
  padding: 30px;
}

ul.tile-list li.tile-list__item button span.price {
  display: inline-block;
  color: #737373;
  font-weight: 900;
}

ul.tile-list li.tile-list__item button span.description {
  display: inline-block;
  color: #737373;
  font-weight: 300;
  line-height: 24px;
}

ul.tile-list li.tile-list__item button span img {
  vertical-align: middle;
}

.calc-price-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: inline-block;
  padding: 15px 25px;
  background-color: #fff;
  border: 1px solid #acb8ce;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, .1),
    0 0.25rem 0.5rem rgba(90, 97, 105, .12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, .1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, .1)
}

.output-price {
  display: none;
}

.select-price {
  color: #737373;
  font-weight: 300;
}

.select-price img {
  vertical-align: middle;
}

.select-price-number {
  font-weight: 600;
}

.select-date {
  margin-left: 10px;
}

.select-specialist {
  margin-left: 10px;
}

.button-wrapper {
  margin-left: 25px;
  display: inline-block;
}