header.menu-header {
  background: #034a9a;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-weight: 300;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.toolbar__logo {
  margin-left: 1rem;
  font-family: 'Monserat', sans-serif;

}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.toolbar__logo span {
  margin-left: 15px;
}

.toolbar__logo img {
  vertical-align: middle;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items {
  height: 100%;
}

.toolbar_navigation-items ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}

.toolbar_navigation-items li {
  height: 100%;
  font-family: 'Graphik', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.toolbar_navigation-items a {
  color: white;
  height: 100%;
  text-decoration: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
  opacity: .8;
}


.toolbar_navigation-items a.active {
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.toolbar_navigation-items a.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #eb4d4b;
  position: absolute;
  bottom: 0;
  left: 0;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #fff;
  opacity: 1;
}

@media (max-width: 1080px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 1080px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}