.btn {
  position: relative;
  background-color: #eb4d4b;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #da2f2c;
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.btn.active {
  background-color: #da2f2c;
  box-shadow: inset 3px 3px 10px #000;
}

.secondary-btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #034a9a;
  color: #034a9a;
  font-weight: 600;
  transition: .3s;
  text-decoration: none;
}

.secondary-btn:hover {
  background-color: rgba(65, 152, 251, 0.27);
}