.heading h1 {
  padding-bottom: 15px;
}

.services,
.selected-date,
.selected-specialist,
.heading {
  padding: 30px;
}

.services-wrapper h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

.select-appointment {
  background-color: #fff;
  border-radius: 10px;
  font-weight: 300;
  padding: 15px 25px;
  margin-top: 25px;
  width: 100%;
  cursor: pointer;
  color: #333;
  font-size: 17px;
}

.service-item__button {
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  display: inline-block;
  text-align: left;
  margin-top: 0;
  padding: 30px;
  color: #737373;
  font-weight: 300;
}

.service-item__button:hover {
  background-color: transparent;
}

.service-item__button span {
  display: inline-block;
  line-height: 24px;
  margin-top: 25px;
  color: #737373;
}

.service-item__button img {
  vertical-align: middle;
}

.select-wrapper {
  margin-bottom: 45px;
}

.error-appointment {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px 45px;
  background-color: #ff8080;
  border: solid 1px red;
  color: #000;
  font-weight: 600;
}

.time-btn {
  background-color: transparent;
  box-sizing: border-box;
  border: solid 1px #ced2d6;
  border-radius: unset;
  padding: 25px 25px;
  margin-right: 1px;
  color: #000;
}

.time-btn:hover {
  background-color: rgba(104, 109, 224, 0.5);
  color: #fff;
}

.time-btn:focus {
  border: 1px solid #686ce1;
}

.error-appointment img {
  vertical-align: text-bottom;
  margin-right: 15px;
}


.clear-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 15px;
  background-color: transparent;
  color: #000;
  padding: 0;
}

.clear-btn:hover {
  background-color: unset;
}