.heading h1 {
  padding-bottom: 15px;
}

.services,
.selected-date,
.selected-specialist,
.heading {
  padding: 30px;
}

.services-wrapper h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

.select-appointment {
  background-color: #fff;
  border-radius: 10px;
  font-weight: 300;
  padding: 15px 25px;
  margin-top: 25px;
  width: 100%;
  cursor: pointer;
  color: #333;
  font-size: 17px;
}

.service-item__button {
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  display: inline-block;
  text-align: left;
  margin-top: 0;
  padding: 30px;
  color: #737373;
  font-weight: 300;
}

.service-item__button:hover {
  background-color: transparent;
}

.service-item__button span {
  display: inline-block;
  line-height: 24px;
  margin-top: 25px;
  color: #737373;
}

.service-item__button img {
  vertical-align: middle;
}

.select-wrapper {
  margin-bottom: 45px;
}