.appointment-heading h1 {
  margin-bottom: 50px;
}

.services-wrapper h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

.select-appointment {
  background-color: #fff;
  border-radius: 10px;
  font-weight: 300;
  padding: 15px 25px;
  margin-top: 25px;
  width: 100%;
  cursor: pointer;
  color: #333;
  font-size: 17px;
}

.service-item__button {
  background-color: transparent;
  display: inline-block;
  text-align-last: left;
  margin-top: 0;
  color: #737373;
  font-weight: 300;
}

.service-item__button:hover {
  background-color: transparent;
}

.service-item__button span {
  display: inline-block;
  margin-top: 25px;
  color: #737373;
}

.service-item__button img {
  vertical-align: middle;
}